.inner {
    width: 1024px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    width: fit-content;
    margin: auto;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 50px;
}

form {
    width: fit-content;
    margin: auto;
}

form th {
    text-align: left;
    vertical-align: top;
}

span {
    color: red;
}

button {
    display: inline-block;
    padding: 15px 40px;
    background-color: #42C1F5;
    margin: 0 auto;
}